Telegram Bot/blueprint.json
{
    "name": "AirPrint Bot",
    "flow": [
        {
            "id": 2,
            "module": "app#telegram:WatchUpdates",
            "version": 1,
            "parameters": {
                "__IMTHOOK__": 84841
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "__IMTHOOK__": {
                        "label": "testapsbot"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "app#telegram:DownloadFile",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 419581
            },
            "mapper": {
                "fileId": "{{2.message.attachment.file_id}}"
            },
            "metadata": {
                "designer": {
                    "x": 385,
                    "y": -13
                },
                "restore": {
                    "__IMTCONN__": {
                        "label": "testapsbot"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "fileId",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-email:ActionSendEmail",
            "version": 1,
            "parameters": {
                "account": 419580
            },
            "mapper": {
                "cc": [],
                "to": [
                    "nayak_yash.ghrcecs@raisoni.net"
                ],
                "bcc": [],
                "html": "Your file for printing has been received and is being processed. You may visit our machine to print your document\n<br><br>\nThank you,<br>\nTeam AirPrint",
                "subject": "AirPrint Telegram Bot",
                "attachments": [
                    {
                        "cid": "",
                        "data": "{{4.fileOutput}}.{{2.message.attachment.type}}",
                        "fileName": "Image"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 699,
                    "y": 137
                },
                "restore": {
                    "cc": {
                        "mode": "chose",
                        "items": []
                    },
                    "to": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    },
                    "bcc": {
                        "mode": "chose",
                        "items": []
                    },
                    "account": {
                        "label": "My Google connection (yugn27@gmail.com)"
                    },
                    "attachments": {
                        "mode": "chose",
                        "items": [
                            "undefined"
                        ]
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": " ",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "labels": {
                            "add": "Add a recipient",
                            "edit": "Edit a recipient"
                        },
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments",
                        "labels": {
                            "add": "Add an attachment",
                            "edit": "Edit an attachment"
                        }
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient",
                        "labels": {
                            "add": "Add a copy recipient",
                            "edit": "Edit a copy recipient"
                        }
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient",
                        "labels": {
                            "add": "Add a blind copy recipient",
                            "edit": "Edit a blind copy recipient"
                        }
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "app#telegram:SendReplyMessage",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 419581
            },
            "mapper": {
                "text": "Your file for printing has been received and is being processed. You may visit our machine to print your document\n\nThank you,\nTeam AirPrint",
                "chatId": "{{2.message.from.id}}",
                "parseMode": "Markdown",
                "replyMarkup": "",
                "replyToMessageId": ""
            },
            "metadata": {
                "designer": {
                    "x": 1026,
                    "y": 267
                },
                "restore": {
                    "parseMode": {
                        "label": "Markdown"
                    },
                    "__IMTCONN__": {
                        "label": "testapsbot"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "chatId",
                        "type": "text",
                        "label": "Chat ID",
                        "required": true
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "parseMode",
                        "type": "select",
                        "label": "Parse mode",
                        "validate": {
                            "enum": [
                                "Markdown",
                                "HTML"
                            ]
                        }
                    },
                    {
                        "name": "disableNotification",
                        "type": "boolean",
                        "label": "Disable notification"
                    },
                    {
                        "name": "disableWebPagePreview",
                        "type": "boolean",
                        "label": "Disable link previews"
                    },
                    {
                        "name": "replyToMessageId",
                        "type": "number",
                        "label": "ID of the original message"
                    },
                    {
                        "name": "replyMarkup",
                        "type": "text",
                        "label": "Reply markup - additonal interface options"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": true,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}
